* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  font-family: 'Outfit', sans-serif;
}

footer {
  margin-top: auto;
}

div {
  margin-top: 20px;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 320px;
  height: 450px;

  text-align: center;
  background-color: white;
}

p{
    font-size: 14px;
    line-height: 1.5;
}

p.description {
  margin-top: 20px;
  color: #1f314f;
  font-weight: bold;
}
p.instructions {
  margin-top: 10px;
  color: #68778d;
  
}
img {
  
  width: 288px;
  border-radius: 10px;
  
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* font-family: 'Outfit', sans-serif; /* or your preferred font */
